<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>LPPI UMKT</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'landingpage/assets/img/logo_lppi.png' %} " rel="icon">
  <link href="{% static 'landingpage/assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Chart JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- Fontawesome v6 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
        
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="{% static 'landingpage/card-slider/css/swiper-bundle.min.css' %}">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'landingpage/card-slider/css/style.css' %} ">

  <!-- Vendor CSS Files -->
  <link href="{% static 'landingpage/assets/vendor/animate.css/animate.min.css' %} " rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/bootstrap-icons/bootstrap-icons.css' %} " rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/glightbox/css/glightbox.min.css' %} " rel="stylesheet">
  <link href="{% static 'landingpage/assets/vendor/swiper/swiper-bundle.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'landingpage/assets/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'landingpage/assets/css/journal_research.css' %}" rel="stylesheet">
  <style>
    .card{
      border: 0px;
    }
  </style>
</head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="row">
        <div class="col-12" id="">
          <img src='{% static 'landingpage/assets/img/logo.png' %}' class="img-fluid"> </img>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex justify-content-between align-items-center">

      <!-- <div class="logo">
        <h1><a href="index.html">Eterna</a></h1>
        Uncomment below if you prefer to use an image logo
        <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
      </div> -->
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="{% url 'home' %}">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'visi_misi' %}">Vision & Mission</a></li>
              <li><a href="{% url 'org_struktur' %}">Org. Structure</a></li>
              <li><a href="{% url 'workprog' %}">Work Programme</a></li>
              <li><a href="{% url 'contact' %}">Contact</a></li>
              <li class="dropdown"><a href="{% url 'devisi' %}"><span>Division</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                  <li><a href="{% url 'divisi_ppi' %}">PPI</a></li>
                  <li><a href="{% url 'divisi_elearning' %}">E-learning & Buku Ajar</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown"><a href=""><span>Information</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'news' %}">News</a></li>
              <li><a href="{% url 'event' %}">Event</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="portfolio.html"><span>Service</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'translate_art' %}">Article Transtlation</a></li>
              <li><a href="{% url 'sipena' %}">Incentive App (SIPENA)</a></li>
              <li><a href="{% url 'umktpress' %}">UMKT Press</a></li>
              <li><a href="{% url 'e_learning' %}">E-Learning Support</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="team.html"><span>Publication</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'journal' %}">Journals</a></li>
              <li><a href="{% url 'textbook' %}">Text Books</a></li>
              <li><a href="{% url 'newspaper' %}">Newspaper Articles</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="pricing.html"><span>E-Journals UMKT</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{% url 'journal_research_umkt' %}">Journals of Research</a></li>
              <li><a href="{% url 'journal_social_umkt' %}">Journals of Social Serving</a></li>
            </ul>
          </li>
          <li><a href="{% url 'downloads' %}">Downloads</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

{% block konten %}

{% endblock konten %}
  <!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Portal Layanan Kampus</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="https://paperless.umkt.ac.id/">E-Library UMKT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://umkt.ucm.ac.id/">E-Learning UMKT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="https://sikad.umkt.ac.id/">Sistem Akademik UMKT</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>External Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a class="external" href="https://sinta.kemdikbud.go.id/affiliations/profile/4632">SINTA – Science and Technology Index UMKT</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="external" href="https://garuda.kemdikbud.go.id/">GARUDA – Garba Rujukan Digital</a></li>
              <li><i class="bx bx-chevron-right"></i> <a class="external" href="https://simlitabmas.kemdikbud.go.id/">Simlitabmas – Sistem Informasi Manajemen Penelitian dan Pengabdian kepada Masyarakat</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              Jl. Ir. H. Juanda No 15 Samarinda Kalimantan Timur<br>
              <strong>Fax:</strong> 0541-766832<br>
              <strong>Email:</strong> ppi@umkt.ac.id<br>
              <strong>Website: <a href="www.lppi.umkt.ac.id"></strong> www.lppi.umkt.ac.id</a><br>
            </p>

          </div>

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>About LPPI UMKT</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/lppi_umkt/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; 2022 <strong><span>LPPI Universitas Muhammadiyah Kalimantan Timur</span></strong>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'landingpage/assets/vendor/purecounter/purecounter_vanilla.js' %} "></script>
  <script src="{% static 'landingpage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'landingpage/assets/vendor/glightbox/js/glightbox.min.js' %} "></script>
  <script src="{% static 'landingpage/assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src="{% static 'landingpage/assets/vendor/swiper/swiper-bundle.min.js' %} "></script>
  <script src="{% static 'landingpage/assets/vendor/waypoints/noframework.waypoints.js' %} "></script>
  <script src="{% static 'landingpage/assets/vendor/php-email-form/validate.js' %} "></script>

  <!-- Template Main JS File -->
  <script src="{% static 'landingpage/assets/js/main.js' %} "></script>
  <!-- Swiper JS -->
  <script src="{% static 'landingpage/card-slider/js/swiper-bundle.min.js' %} "></script>

  <!-- JavaScript -->
  <script src="{% static 'landingpage/card-slider/js/script.js' %} "></script>

</body>

</html>