{% extends 'landingpage/base.html' %}
{% load static %}

{% block konten %}
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>Newspaper Articles</li>
      </ol>
      <h2>Newspaper Articles</h2>
    </div>
  </section><!-- End Breadcrumbs -->

  <section id="publikasi" class="publikasi">
    <div class="container overflow-scroll">
      <div class="row">
  <!-- ======= Button ======= -->
        <div class="col-md-3 col-12 mb-3">
          <button type="button" class="btn btn-primary">Export</button>
        </div>
  <!-- Form Select-->
      <div class="col-md-4 col-12">
      <div class="input-group mb-3">
          <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
            <option selected>Sort By Fakultas</option>
            <option value="1">Fakultas Saintek</option>
            <option value="2">Fakultas Farmasi</option>
            <option value="3">Fakultas Psikologi</option>
          </select>
        </div>
      </div>
  <!-- Search Button -->
      <div class="col-md-4 col-12">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" aria-label="Text input search">
          <button class="btn btn-outline-secondary" type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
      </div>
    </div>
  <!-- Table -->
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Judul</th>
            <th scope="col">Tahun</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Annas Budi Setyawan</td>
            <td>Revisi UU KPK Legimitimasi vs Legalitas</td>
            <td>17 - September - 2019</td>
            <td> - </td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Annas Budi Setyawan</td>
            <td>Petaka Hukum di Negara Hukum</td>
            <td>15 - Oktober -2019</td>
            <td> - </td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Annas Budi Setyawan</td>
            <td>Investasi rumah bodong berkedong syariah</td>
            <td>27 - Januari - 2020</td>
            <td> - </td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Annas Budi Setyawan</td>
            <td>Dampak digitalisasi</td>
            <td>24 - Februari - 2020</td>
            <td> - </td>
        </tbody>
      </table>
    </div>
  </section>
{% endblock konten %}