{% extends 'landingpage/base.html' %}
{% load static %}
{% block konten %}

  <!-- Card -->
  <div class="container-fluid py-5">
    <div class="row">
      <div class="col-12" ><h1 class="title-news"> New Post</h1></div>
    </div>
    <div class="container">
        <div class="row g-0 content-recent-post">
          <div class="col-lg-5 col-md-12">
            <img src="{% static 'landingpage/assets/img/workshop.jpg' %}" class="img-fluid rounded img-recent-post">
          </div>
          <div class="col-lg-7 col-md-12 news-recent-post">
            <div class="content-news-recent-post">
              <div class="date-news-recent-post"><small><b id="tag-news-recent-post">Workshop</b> - 2 Juni 2022</small></div>
              <h5 class="title-news-recent-post">Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</h5>
              <p class="description-news-recent-post">Pusat Penerbitan Ilmiah(PPI) UMKT ,Pada Hari Kamis (20/06/2019) bertempat di Ruang Rapat LPPM diadakan rapat pembahasan pengelolaan Jurnal Penelitian, dengan peserta rapat  ± 18 orang yang terdiri dari Dewan Redaksi Yang terdiri dari beberapa mahasiswa semester 4-6.</p>
                <div class="row">
                  <div class="col-md-2 col-4">
                    <img src="{% static 'landingpage/assets/img/team/team-3.jpg' %}" class="img-fluid img-author-recent-post">
                  </div>
                  <div class="col-md-10 col-8 author-box">
                    <div class="row">
                      <div class="col-12 author-name">
                        Sergy Campbell
                      </div>
                      <div class="col-12 author-text">
                        Author
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

        <div class="row section-news-category">
          <div class="col-4">
            <div class="category-box">
              <button type="submit">
                Undangan
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="category-box">
              <button type="submit">
                Pengumuman
              </button>
            </div>
          </div>
          <div class="col-4">
            <div class="category-box">
              <button type="submit">
                Berita
              </button>
            </div>
          </div>
          </div>
        </div>
      
        <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <img src="{% static 'landingpage/assets/img/workshop-1.jpg' %}" class="card-img-top" alt="">
              <div class="card-body">
                <p class="date-news-card"><b>Workshop</b> - 12 Juni 2022</p>
                <h5 class="card-title"><a href="">Pelatihan & Pengelolaan Jurnal Elektronik dengan Open Journal System</a></h5>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                {% comment %} <button class="btn btn-primary">Lihat</button> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <img src="{% static 'landingpage/assets/img/workshop-2.jpg' %}" class="card-img-top" alt="">
              <div class="card-body">
                <p class="date-news-card"><b>Workshop</b> - 12 Juni 2022</p>
                <h5 class="card-title"><a href=""> Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</a></h5>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                {% comment %} <button class="btn btn-primary">Lihat</button> {% endcomment %}
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 col-12">
            <div class="card">
              <img src="{% static 'landingpage/assets/img/workshop-3.jpg' %}" class="card-img-top" alt="">
              <div class="card-body">
                <p class="date-news-card"><b>Workshop</b> - 12 Juni 2022</p>
                <h5 class="card-title"><a href=""> Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</a></h5>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                {% comment %} <button class="btn btn-primary">Lihat</button> {% endcomment %}
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-12 news-category-tablet">
            <div class="card">
              <img src="{% static 'landingpage/assets/img/news.jpeg' %}" class="card-img-top" alt="">
              <div class="card-body">
                <p class="date-news-card"><b>Workshop</b> - 12 Juni 2022</p>
                <h5 class="card-title"><a href=""> Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</a></h5>
                <p class="card-text">
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                  Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                  when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
                {% comment %} <button class="btn btn-primary">Lihat</button> {% endcomment %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- End Card -->
  {% endblock konten %}