{% extends 'akun/base.html' %}
{% load static %}  
{% block auth %}
				<form class="login100-form validate-form fadeInUp" method="POST">
					{% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <img src="{% static 'akun/assets/images/uem-logo.png' %}"  width="33%" class="rounded mx-auto d-block d-md-none" alt="...">
                    </div>
                </div>
				<span class="login100-form-title p-b-20 text-uppercase" style="letter-spacing: 2px;">
					Reset Password
				</span>
				<div class="tittle-logo p-b-29 txt2 mb-3 mb-lg-0" style="font-size:16px;color:#039EE3;">
					<strong>Pastikan anda mencatat password baru anda agar tidak terlupa</strong>
				</div>
				{% if messages %}
				{% for message in messages %}
				<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
				{% endif %}
					<input type="text" hidden name="user_id" value="{{user_id}}">
					<div class="wrap-input100 validate-input" data-validate = "Masukkan email yang valid contoh: uem@umkt.ac.id">
						<input class="input100" type="password" name="new_password">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "Masukkan email yang valid contoh: uem@umkt.ac.id">
						<input class="input100" type="password" name="reconfirm_password">
						<span class="focus-input100"></span>
						<span class="label-input100">Ulangi Password</span>
					</div>
                    <!-- <div class="container-login100-form-btn"> -->
					<div class="row mt-4">
						<div class="col-4">
							<button type="submit" class="login100-form-btn float-lg-end">Submit</button>
						</div>
					</div>
					<!-- </div> -->
				</form>
{% endblock %}