{% extends 'akun/base.html' %}
{% load static %}  

{% block auth %}
	<div class="login100-form validate-form">
		<div class="row">
			<div class="col-12">
				<div class="mx-auto pesan fadeInUp" style=" border-radius: 20px; width: 120px; height:120px; background-color: #dae9f4;" ><h1 class="fad fa-envelope-open-text p-4 text-primary " style="font-size: 70px;"></h1></div>
			</div>
			<div class="col-12">
				<h2 class="text-center mt-4 txt5 fadeInUp" >Cek email anda</h2>
				<h4 class="text-center pl-3 mt-3 fs-6 px-4 fadeIn" >Kami telah mengirimkan instruksi <strong style="color:#039EE3;">verifikasi akun</strong> ke email anda</h4>
			</div>
			<div class="col-12 text-center">
			<a href="https://mail.google.com/" target='_blank' class="fadeIn login100-form-btn mt-5 mx-auto fw-bold text-decoration-none fs-6" style="font-family: Muli;width:60%;color:#fff;">Buka aplikasi email</a>
			</div>
			<div class="col-12 text-center mt-4">
			<a href="{% url 'login' %}" class="fadeIn mt-5 mx-auto fw-bold text-decoration-none fs-6" style="font-family: Muli;width:60%;color:#039EE3;" onmouseout="this.style.color='#039EE3'" onmouseover="this.style.color='#0F172A'">Kembali ke Halaman Login</a>
			</div>

		</div>
	</div>
{% endblock %}
