{% extends 'akun/base.html' %}
{% load static %}  

{% block login %}
				<form class="login100-form validate-form fadeInUp" method="post" action="{% url 'login' %}">
					{% csrf_token %}
					{% if msg == 'Username atau Password tidak valid' %}
						<script>
							Swal.fire(
							'Login Gagal!',
							'Username atau Password tidak valid!',
							'error'
							)
						</script>
					{% endif %}
					{% if msg == 'User Belum Aktif Silahkan Verifikasi Email Dulu' %}
						<script>
							Swal.fire({
							icon: 'error',
							title: 'Login Gagal!',
							text: 'User Belum Aktif Silahkan Verifikasi Email Dulu!',
							footer: '<a class="badge bg-danger text-decoration-none" href="https://mail.google.com/" target="_blank">Buka Gmail</a>&nbsp; atau &nbsp;<a class="badge bg-success text-decoration-none" href="{% url 'verifikasi_akun' %}" >Verifikasi Akun</a>'
						})
						</script>
					{% endif %} 
					<img src="{% static 'akun/assets/images/uem-logo.png' %}" width="33%" class="rounded mx-auto d-block d-md-none mt-n5 mt-md-0" alt="...">
					<span class="login100-form-title p-b-20" style="letter-spacing: 4px;">
						MASUK
					</span>
					<div class="tittle-logo p-b-29 txt2 mb-3 mb-lg-0 text-secondary">
						Belum punya akun ?
						<a href="{% url 'daftar' %}" class="txt2 text-decoration-none">
							Buat akun baru
						</a>
					</div>
					{% include 'pesan.html' %}
					<div class="wrap-input100 validate-input" data-validate = "Masukkan email yang valid contoh: uem@umkt.ac.id">
						{{form.username}}
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate="Password wajib diisi">
						{{form.password}}
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<!-- <div class="container-login100-form-btn"> -->
					<div class="row mt-4">
						 <div class="col-8 txt4">
							<a href="{% url 'lupaPassword' %}" class="fs-6 text-decoration-none txt2">Lupa Password ?</a>
						</div>

						<div class="col-4">
							<button class="login100-form-btn float-lg-end">Masuk</button>
						</div>
					</div>
					<!-- </div> -->
				</form>
{% endblock %}