{% extends 'akun/base.html' %}
{% load static %}  

{% block auth %}
	<div class="login100-form validate-form">
		<div class="row">
			<div class="col-12 ">
				<svg class="checkmark success" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"><circle class="checkmark_circle_success" cx="26" cy="26" r="25" fill="none"/><path class="checkmark_check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" stroke-linecap="round"/></svg>
			</div>
			<div class="col-12 text-center mb-5">
				<h4 class="fadeInUp fw-bold" style="font-family: 'Muli';">Logout Berhasil!</h4>
			</div>
			<div class="col-12 mt-lg-5 text-center">
				<a href="{% url 'login' %}" class="fadeIn login100-form-btn mx-auto fw-bold text-decoration-none fs-6" style="font-family: Muli;width:70%;color:#fff;">Kembali ke Halaman Login</a>
			</div>
		</div>
	</div>
{% endblock %}
