{% extends 'akun/base.html' %}
{% load static %}  

{% block auth %}
				<form class="login100-form validate-form fadeInUp" action="" method="POST">
					{% csrf_token %}
                <div class="row">
                    <div class="col-12">
                        <img src="{% static 'akun/assets/images/uem-logo.png' %}"  width="33%" class="rounded mx-auto d-block d-md-none" alt="...">
                    </div>
                </div>
					<span class="login100-form-title p-b-20 text-uppercase" style="letter-spacing: 4px;">
						Lupa Password
					</span>
					<div class="tittle-logo p-b-29 txt2 mb-3 mb-lg-0">
						Masukan alamat <strong>email</strong> akun anda dan kami akan mengirimkan instruksi untuk mengganti password melalui email
					</div>
					
					{% if messages %}
					{% for message in messages %}
					<div class="alert alert-{{message.tags}} msgAnim" role="alert">
						{{ message }}
					</div>
					{% endfor %}
					{% endif %}

					<div class="wrap-input100 validate-input" data-validate = "Masukkan email yang valid contoh: uem@umkt.ac.id">
						<input class="input100 email" type="text" name = "email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
										
                    <!-- <div class="container-login100-form-btn"> -->
					<div class="row mt-4">
						<div class="col-8 txt4">
							<a href="{% url 'login' %}" class="fs-6 text-decoration-none txt2">Kembali</a>
						</div>

						<div class="col-4">
							<button type="submit" class="login100-form-btn float-lg-end">Kirim</button>
						</div>
					</div>
					<!-- </div> -->
				</form>
{% endblock %}