{% extends 'akun/base.html' %}
{% load static %}  

{% block auth %}
	<form class="login100-form validate-form fadeInUp">
		<div class="row">
			<div class="col-12">
				<img src="{% static 'assets/images/uem-logo.png' %}"  width="33%" class="rounded mx-auto d-block d-md-none" alt="...">
			</div>
		</div>

		<span class="login100-form-title p-b-20 text-uppercase" style="letter-spacing: 2px;">
			Reset Password
		</span>
		<div class="tittle-logo p-b-29 txt2 mb-3 mb-lg-0" style="font-size:16px;color:#039EE3;">
			<strong>Password</strong> baru anda harus berbeda dengan password yang anda gunakan sebelumnya
		</div>
		
		<div class="wrap-input100 validate-input" data-validate = "Password wajib diisi!">
			<input class="input100 email" type="text" name="password">
			<span class="focus-input100"></span>
			<span class="label-input100">Password Baru</span>
		</div>
		<div class="wrap-input100 validate-input" data-validate = "Password wajib diisi!">
			<input class="input100 email" type="text" name="konfPassword">
			<span class="focus-input100"></span>
			<span class="label-input100">Konfirmasi Password Baru</span>
		</div>
							
		<div class="row mt-4">
			<div class="col-12">
				<button class="login100-form-btn float-lg-end" style="font-size:14px;">Reset Password</button>
			</div>
		</div>
	</form>
{% endblock %}