{% extends 'landingpage/base.html' %}
{% load static %}
{% block konten %}
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Division</a></li>
        <li>E-Learning & Buku Ajar</li>
      </ol>
      <h2>E-Learning & Buku Ajar</h2>
    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-lg-8 col-sm-12 content">
          <h2 class="title-content">Overview</h2>
          <p>{{data.overview_divisi|linebreaks}}</p>
          <br>
          <h2 class="title-content">Members</h2>
          <p>
            <div class="col-12 pt-4 pt-lg-0 content">
              <img src='/media/{{data.members_divisi}}' class="img-fluid"> </img>
            </div>
          </p>
        </div>
        {% include 'landingpage/recent_post.html' %}
      </div>
    </div>
  </section><!-- End About Section -->
  {% endblock konten %}