{% extends 'landingpage/base.html' %}
{% load static %}
{% block konten %}
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="about.html">About</a></li>
        <li><a href="#">Division</a></li>
        <li>E-Learning & Buku Ajar</li>
      </ol>
      <h2>E-Learning & Buku Ajar</h2>
    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-lg-8 col-sm-12 content">
          <h2 class="title-content">Overview</h2>
          <p>Unit E-Learning dan Multimedia UMKT bertempat di Jl. Ir. H. Juanda No. 15 Gd. Ir. H. Juanda Lt. 3 memiliki tugas untuk arrange teleconference event live seperti webinar dan lain lain, membuat command center atau sebagai wadah tanya jawab dan konsultasi terkait sistem pembelajaran online (E-Learning) menggunakan Openlearning tentang tata cara penggunaan dan penanganan trouble, sebagai administrator & maintenance website Openlearning UMKT, melakukan evaluasi dan monitoring perkuliahan online pada tiap matakuliah, membuat atau arrange pelatihan kepada dosen-dosen terkait pembuatan dan pengaturan perkuliahan online di Openlearning.</p>
          <p>Unit ini didukung dengan penyediaan studio rekaman multimedia. Sehingga selain melakukan maintenance dan monitoring peralatan studio, unit ini menyediakan layanan pembuatan atau arrange rekaman untuk dosen dalam membuat bahan ajar seperti gambar, video, audio dan Animasi. Rencana kedepan dalam waktu dekat, unit ini selain mengadakan beberapa pelatihan terkait bahan ajar dengan pemenuhan konten multimedia untuk tiap dosen pada masing-masing program studi, juga akan dirilis modul digital dalam bentuk perkuliahan online yang berisi pembelajaran tutorial membuat bahan ajar multimedia berbasis Openlearning.</p>
          <br>
          <h2 class="title-content">Members</h2>
          <p>
            <div class="col-12 pt-4 pt-lg-0 content">
              <img src='{% static 'landingpage/assets/img/members-ppi.jpg' %}' class="img-fluid"> </img>
            </div>
          </p>
        </div>
        {% include 'landingpage/recent_post.html' %}
      </div>
    </div>
  </section><!-- End About Section -->
  {% endblock konten %}