{% extends 'landingpage/base.html' %}
{% load static %}

{% block konten %}
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li>E-Journals UMKT</li>
        <li>Journal Of Research</li>
      </ol>
      <h2>Journal Of Research</h2>
    </div>
  </section><!-- End Breadcrumbs -->
  <section id="journal_research" class="journal_research">
    <div class="container-fluid px-md-5 px-sm-3">
        <div class="row" class="jurnal-research">
        <!-- Card -->
        {% for data in data_journal  %}
        <div class="col-12 mb-5">
          <div class="row">
            <div class="col-3 box-cover-journal">
              <img class="cover-journal rounded" src="/media/{{data.cover_jurnal}}">
            </div>
            <div class="col-9 box-content-journal py-2">
              <div class="row">
                <div class="col-12 title-jurnal mb-1">
                  <a href="#"> {{data.judul_jurnal}} </a>
                </div>
                <div class="col-12 issn-jurnal">
                  ISSN {{data.issn}}
                </div>
                <div class="col-12 publication-range-jurnal">
                  Publication: {{data.publication}}
                </div>
                <div class="col-12 index-jurnal mb-sm-3 mb-1">
                  Index:  {{data.index}}
                </div>
                <div class="col-12 description-jurnal mb-sm-3 mb-1">
                  {{data.deskripsi}}
                </div>
                <div class="col-12 other-jurnal">
                  <a href="{{data.link_view_jurnal}}" class="btn btn-secondary rounded btn-view-journal mr-sm-3 mr-1">View Journal</a>
                  <a href="{{data.link_current_issue}}" class="btn btn-secondary rounded btn-current-journal mr-sm-3 mr-1">Current Issue</a>
                  <a href="{{data.link_online_submission}}" class="btn btn-secondary rounded btn-current-journal mr-sm-3 mr-1">Online Submission</a>
                  <a href="{{data.link_download_template}}" class="btn btn-secondary rounded btn-current-journal mr-sm-3 mr-1">Download Template</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!-- End Card -->
  {% endblock konten %}