{% extends 'landingpage/base.html' %}
{% load static %}

{% block css_page %}
<link href="{% static 'landingpage/assets/css/news.css' %}" rel="stylesheet">
{% endblock css_page %}

{% block konten %}

  <!-- Card -->

<div class="container py-5 px-lg-5">
    <div class="row color-news">
        <div class="col-12 mb-md-5 mb-3">
            <div class="row">
                <div class="col-12 d-flex justify-content-center mb-2">
                    <img src="{% static 'landingpage/assets/img/team/team-1.jpg' %}" class="img-fluid img-author-single">
                </div>
                <div class="col-12 text-center author-name-single fw-bold">
                    Sergy Campbell
                </div>
                <div class="col-12 text-center fs-6">
                    2 Agustus 2022
                </div>
            </div>
        </div>
        <div class="col-12 mb-3 text-center news-single-title px-md-2">
            <h1 class="fw-bold">Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</h1>
        </div>
        <div class="col-12 mb-md-5 mb-4">
            <img src="{% static 'landingpage/assets/img/workshop.jpg' %}" class="img-fluid rounded">
        </div>
        <div class="col-12">
            <p class="lh-base news-single-description">
            Pusat Penerbitan Ilmiah(PPI) UMKT ,Pada Hari Kamis (20/06/2019) bertempat di Ruang Rapat LPPM diadakan rapat pembahasan pengelolaan Jurnal Penelitian, dengan peserta rapat  ± 18 orang yang terdiri dari Dewan Redaksi Yang terdiri dari beberapa mahasiswa semester 4-6.<br><br>
        
            Tujuan diadakannya rapat ini adalah untuk memberikan pemahaman dasar tentang pengelolaan jurnal kepada Dewan redaksi jurnal mahasiswa. dalam pengelolaan jurnal elektronik, jurnal Borneo Student Research menerima artikel yang berasal dari karya tulis mahasiswa maupun tugas akhir mahasiswa.<br><br>
        
            Hasil yang diharapkan dari pertemuan ini adalah terwujudnya pengelolaan jurnal elektronik yang bermutu.
        
            Pusat Penerbitan Ilmiah(PPI) UMKT ,Pada Hari Kamis (20/06/2019) bertempat di Ruang Rapat LPPM diadakan rapat pembahasan pengelolaan Jurnal Penelitian, dengan peserta rapat  ± 18 orang yang terdiri dari Dewan Redaksi Yang terdiri dari beberapa mahasiswa semester 4-6.<br><br>
        
            Tujuan diadakannya rapat ini adalah untuk memberikan pemahaman dasar tentang pengelolaan jurnal kepada Dewan redaksi jurnal mahasiswa. dalam pengelolaan jurnal elektronik, jurnal Borneo Student Research menerima artikel yang berasal dari karya tulis mahasiswa maupun tugas akhir mahasiswa.
        
            Hasil yang diharapkan dari pertemuan ini adalah terwujudnya pengelolaan jurnal elektronik yang bermutu.
            </p>
        </div>
        <hr class="color-hr-news">
        <div class="col-12 mt-1">
            <a class="border-tags px-2 py-1 fs-6 fw-bold me-2">Workshop</a>
            <a class="border-tags px-2 py-1 fs-6 fw-bold">Undangan</a>
        </div>
    </div>
</div>


<div class="container-fluid py-5 section-latest-news">
    <div class="row">
      <div class="col-12" ><h1 class="title-news text-md-start"> Latest News</h1></div>
    </div>

    <div class="row g-0 content-recent-post mb-lg-5">
        <div class="col-lg-5 col-md-12">
        <img src="{% static 'landingpage/assets/img/workshop.jpg' %}" class="img-fluid rounded img-recent-post">
        </div>
        <div class="col-lg-7 col-md-12 news-recent-post">
        <div class="content-news-recent-post">
            <div class="date-news-recent-post"><small><b id="tag-news-recent-post">Workshop</b> - 2 Juni 2022</small></div>
            <h5 class="title-news-recent-post">Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</h5>
            <p class="description-news-recent-post">Pusat Penerbitan Ilmiah(PPI) UMKT ,Pada Hari Kamis (20/06/2019) bertempat di Ruang Rapat LPPM diadakan rapat pembahasan pengelolaan Jurnal Penelitian, dengan peserta rapat  ± 18 orang yang terdiri dari Dewan Redaksi Yang terdiri dari beberapa mahasiswa semester 4-6.</p>
            <div class="row">
                <div class="col-md-2 col-4">
                <img src="{% static 'landingpage/assets/img/team/team-3.jpg' %}" class="img-fluid img-author-recent-post">
                </div>
                <div class="col-md-10 col-8 author-box">
                <div class="row">
                    <div class="col-12 author-name">
                    Sergy Campbell
                    </div>
                    <div class="col-12 author-text">
                    Author
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <div class="row g-0 content-recent-post">
        <div class="col-lg-5 col-md-12">
        <img src="{% static 'landingpage/assets/img/workshop.jpg' %}" class="img-fluid rounded img-recent-post">
        </div>
        <div class="col-lg-7 col-md-12 news-recent-post">
        <div class="content-news-recent-post">
            <div class="date-news-recent-post"><small><b id="tag-news-recent-post">Workshop</b> - 2 Juni 2022</small></div>
            <h5 class="title-news-recent-post">Koordinasi Pengelola Jurnal Mahasiswa (Borneo Student Research)</h5>
            <p class="description-news-recent-post">Pusat Penerbitan Ilmiah(PPI) UMKT ,Pada Hari Kamis (20/06/2019) bertempat di Ruang Rapat LPPM diadakan rapat pembahasan pengelolaan Jurnal Penelitian, dengan peserta rapat  ± 18 orang yang terdiri dari Dewan Redaksi Yang terdiri dari beberapa mahasiswa semester 4-6.</p>
            <div class="row">
                <div class="col-md-2 col-4">
                <img src="{% static 'landingpage/assets/img/team/team-3.jpg' %}" class="img-fluid img-author-recent-post">
                </div>
                <div class="col-md-10 col-8 author-box">
                <div class="row">
                    <div class="col-12 author-name">
                    Sergy Campbell
                    </div>
                    <div class="col-12 author-text">
                    Author
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
      

  <!-- End Card -->
  {% endblock konten %}