{% extends 'landingpage/base.html' %}
{% load static %}
{% block konten %}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
  <div class="container">
    <ol>
      <li><a href="about.html">Publication</a></li>
      <li>Text Books</li>
    </ol>
    <h2>Text Book Published</h2>
  </div>
</section>
<!-- End Breadcrumbs -->
<section id="publikasi" class="publikasi">
  <div class="container overflow-scroll">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <!-- ======= Button ======= -->
          <div class="col-md-3 col-12">
            <button type="button" class="btn btn-primary mb-3">Export</button>
          </div>
          <!-- Form Select-->
          <div class="col-md-4 col-12">
            <div class="input-group mb-3">
              <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>Sort By Fakultas</option>
                <option value="1">Fakultas Saintek</option>
                <option value="2">Fakultas Farmasi</option>
                <option value="3">Fakultas Psikologi</option>
              </select>
            </div>
          </div>
          <!-- Search Button -->
          <div class="col-md-4 col-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-label="Text input search">
              <button class="btn btn-outline-secondary" type="button"><i
                  class="fa-solid fa-magnifying-glass"></i></button>
            </div>
          </div>
        </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Program Studi</th>
              <th scope="col">Nama</th>
              <th scope="col">Judul Buku</th>
              <th scope="col">Tahap Luaran 10%</th>
              <th scope="col">Tahap Luaran 40%</th>
              <th scope="col">Tahap Luaran 80%</th>
              <th scope="col">Reviewer (Internal 1 & Eksternal 2</th>
              <th scope="col">Tahun</th>
              <th scope="col">Link</th>
            </tr>
          </thead>
          <tbody>
            {% for data in data_textbook %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{data.program_studi}}</td>
              <td>{{data.nama_dosen}}</td>
              <td>{{data.judul_buku}}</td>
              <td>
                {% if data.tahap_luaran_10 %}
                <i class="fa-solid fa-circle-check fs-3 d-flex justify-content-center text-success"></i>
                {% else %}
                <i class="fa-solid fa-circle-xmark fs-3 d-flex justify-content-center text-danger"></i>
                {% endif %}
              </td>
              <td>
                {% if data.tahap_luaran_40 %}
                <i class="fa-solid fa-circle-check fs-3 d-flex justify-content-center text-success"></i>
                {% else %}
                <i class="fa-solid fa-circle-xmark fs-3 d-flex justify-content-center text-danger"></i>
                {% endif %}
              </td>
              <td>
                {% if data.tahap_luaran_80 %}
                <i class="fa-solid fa-circle-check fs-3 d-flex justify-content-center text-success"></i>
                {% else %}
                <i class="fa-solid fa-circle-xmark fs-3 d-flex justify-content-center text-danger"></i>
                {% endif %}
              </td>
              <td>{{data.reviewer}}</td>
              <td>{{data.tahun}}</td>
              <td><a href="{{data.link}}" class="fs-5 text-decoration-none d-flex justify-content-center text-secondary"><i class="fa-solid fa-link"></i></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock konten %}