{% extends 'landingpage/base.html' %}
{% load static %}
{% block konten %}
  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="about.html">About</a></li>
        <li>Work Programme</li>
      </ol>
      <h2>WORK PROGRAMME</h2>
    </div>
  </section><!-- End Breadcrumbs -->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-xxl-9 col-lg-8 col-sm-12">
          <img src="/media/{{data.file_workprogramme}}" class="img-fluid rounded" alt="">
        </div>
        {% include 'landingpage/recent_post.html' %}
      </div>
    </div>
  </section><!-- End About Section -->
  {% endblock konten %}