{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block import_plugin %}
    <link rel="stylesheet" href="{% static 'landingpage/assets/css/yearpicker.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="{% static 'landingpage/assets/js/formatter.js' %}"></script>
{% endblock import_plugin %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h6 class="m-0">Content</h6>
              <h1 class="m-0">Penelitian</h1>
          </div>
      </div>
  </div>
</div>
<!-- Ambil konten disini -->
<div class="col-12 col-sm-12">
   {% comment %} Include Message {% endcomment %}
   {% include "pesan.html" %}
    <div class="card card-primary card-tabs">
      <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-one-home-tab" data-bs-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Data Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-one-profile-tab" data-bs-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Tambah Data</a>
          </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
            <div class="card-body table-responsive p-1">
              <table class="table table-head-fixed text-nowrap dataTable no-footer" id="table_default" role="grid" aria-describedby="table_default_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting sorting_asc" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending">No</th>
                      <th >Judul</th>
                      <th >Ketua Peneliti</th>
                      <th >Terindeks</th>
                      <th >Tahun</th>
                      <th >Penyedia Jurnal</th>
                      <th >Total Pendanaan</th>
                      <th >Link</th>
                      <th >Tindakan</th>
                  </tr>
                  </thead>
                  <tbody id="data_tabel">
                  {% for data in Data  %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                    <td>{{data.judul}}</td>
                    <td>{{data.ketua_peneliti}}</td>
                    <td>{{data.kategori_index}}</td>
                    <td>{{data.tahun}}</td> 
                    <td>{{data.penyedia_jurnal}}</td> 
                    <td>Rp. {{data.total_pendanaan|intcomma}}</td>
                    <td><a href="{{data.link_publikasi}}" class="text-decoration-none">{{data.link_publikasi}}</a></td>
                    <td>
                      <form id="hapus" action="{% url 'penelitian_backend_delete' data.id %}" method="post">                      
                        <a href="{% url 'penelitian_backend_detail' data.id %}" class="btn btn-secondary btn-sm btn-modal-hapus">
                          <span class="fas fa-info-circle"></span> Detail
                        </a> 
                        <a class="btn btn-primary btn-sm" href="{% url 'penelitian_backend_update' data.id %}">
                          <span class="fas fa-edit"></span> Edit
                        </a>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="hapusData('#hapus')"><span class="fas fa-trash"></span> Hapus</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
            <div class="card-body table-responsive p-1">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Judul</label>
                  {{form.judul}}
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nama Ketua Peneliti</label>
                  {{form.ketua_peneliti}}
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Index</label>
                  {{form.kategori_index}}
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Penyedia Jurnal</label>
                  {{form.penyedia_jurnal}}
                </div>
                <div class="mb-3">  
                  <label for="exampleFormControlInput1" class="form-label">Tahun</label>
                  {{form.tahun}}
                </div>
                <script src="{% static 'landingpage/assets/js/yearpicker.js' %}"></script>
                <script>
                    $(document).ready(function () {
                        $(".yearpicker").yearpicker({year: 2019, startYear: 2018, endYear: 2030});
                    });
                </script>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Total Pendanaan</label>
                  <input type="text" id="total_pendanaan" class="form-control" placeholder="Total Pendanaan">
                  {{form.total_pendanaan.as_hidden}}
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Asal Pendanaan</label>
                  {{form.asal_pendanaan}}
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Link</label>
                  {{form.link_publikasi}}
                </div> 
                <script>
                  $( document ).ready(function() {
                    $(".chosen-select").chosen({ width: '100%' });
                });
                </script>
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                    <button type="submit" id="submit_tambah" class="btn btn-primary"><span class="fas fa-paper-plane"></span> Tambah</button>
                  </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    inputRupiah('total_pendanaan','id_total_pendanaan');
	</script>
{% endblock content %} 