{% extends 'base.html' %}
{% load static %}
{% block import_plugin %}
    <link
        rel="stylesheet"
        href="{% static 'landingpage/assets/css/yearpicker.css' %}"/>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
{% endblock import_plugin %}
{% block content %}
<div class="content-header">
  <div class="container-fluid">
      <div class="row mb-2">
          <div class="col-sm-6">
              <h6 class="m-0">Content</h6>
              <h1 class="m-0">Pengabdian</h1>
          </div>
      </div>
  </div>
</div>
    {% comment %} Include Message {% endcomment %}
    {% include "pesan.html" %}
 <!-- Ambil konten disini -->
 <div class="col-12 col-sm-12">
    <div class="card card-primary card-tabs">
      <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="custom-tabs-one-home-tab" data-bs-toggle="pill" href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home" aria-selected="true">Data Content</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="custom-tabs-one-profile-tab" data-bs-toggle="pill" href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile" aria-selected="false">Tambah Data</a>
          </li>
        </ul>
    </div>

    <div class="card-body">
        <div class="tab-content" id="custom-tabs-one-tabContent">
          <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel" aria-labelledby="custom-tabs-one-home-tab">
            <div class="card-body table-responsive p-1">
              <table class="table table-head-fixed text-nowrap dataTable no-footer" id="table_default" role="grid" aria-describedby="table_default_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting sorting_asc" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-sort="ascending" aria-label="No: activate to sort column descending">No</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Judul: activate to sort column ascending">Judul</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Nama Peneliti: activate to sort column ascending">Nama Peneliti</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Penyedia Jurnal: activate to sort column ascending">Laporan Pengabdian</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Terindeks: activate to sort column ascending">Terindeks</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Tahun: activate to sort lgocolumn ascending">Tahun</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Total Pendanaan: activate to sort lgocolumn ascending">Total Pendanaan</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Asal Pendanaan: activate to sort column ascending">Asal Pendanaan</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Link: activate to sort column ascending">Link</th>
                      <th class="sorting" tabindex="0" aria-controls="table_default" rowspan="1" colspan="1" aria-label="Tindakan: activate to sort column ascending">Tindakan</th>
                  </tr>
                  </thead>
                  <tbody id="data_tabel">
                     {% for data in Data  %}
                    <tr>
                      <td>1</td>
                    <td>{{data.nidn}}</td>
                    <td>{{data.nama_dosen}}</td>
                    <td>{{data.program_studi}}</td>
                    <td>{{data.fakultas}}</td>
                    <td>{{data.judul_artikel}}</td>
                    <td>{{data.tahun}}</td>
                    <td><a href="{{data.link}}" class="text-decoration-none">{{data.link}}</a></td>
                    <td>
                      <a class="btn btn-primary btn-sm" href="{% url 'journals_backend_update' data.id %}">
                        <span class="fas fa-edit"></span> Edit
                      </a>
                      <a href="{% url 'journals_backend_delete' data.id %}" class="btn btn-danger btn-sm btn-modal-hapus">
                        <span class="fas fa-trash"></span> Hapus
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
            </div>
          </div>
          <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel" aria-labelledby="custom-tabs-one-profile-tab">
            <div class="card-body table-responsive p-1">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Judul</label>
                  <input type="text" class="form-control" placeholder="Judul">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Nama Peneliti</label>
                  <input type="text" class="form-control" placeholder="Nama Peneliti">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Laporan Pengabdian</label>
                  <input type="text" class="form-control" placeholder="Laporan Pengabdian">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Index</label>
                  <input type="text" class="form-control" placeholder="Index">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Tahun</label>
                  <input type="text" class="form-control  yearpicker" placeholder="Tahun">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Total Pendanaan</label>
                  <input type="text" class="form-control" placeholder="Total Pendanaan">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Asal Pendanaan</label>
                  <input type="text" class="form-control" placeholder="Asal Pendanaan">
                </div>
                <script src="{% static 'landingpage/assets/js/yearpicker.js' %}"></script>
                <script>
                    $(document).ready(function () {
                        $(".yearpicker").yearpicker({year: 2019, startYear: 2018, endYear: 2030});
                    });
                </script>
                <div class="col-md-6 mt-2">
                  <div class="form-group">
                    <button type="submit" id="submit_tambah" class="btn btn-primary"><span class="fas fa-paper-plane"></span> Tambah</button>
                  </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %} 